---
import Layout from "@/layouts/Layout.astro"
import Ariadne from "@/components/Ariadne.astro"
import Glyph from "@/components/Glyph.astro"
import Section from "@/components/Section.astro"
import GlyphGrid from "@/components/GlyphGrid.astro"
import type { TypeGridGlyph } from "@/components/TypeGridGlyph"
import type { Lang2Consonant, Lang2Mora } from "@/types/Lang2"
import { Lang2Object_to_GridGlyph } from "@/types/Lang2"

import consonants from "./_consonants.json"
export async function getStaticPaths() {
    return consonants.map((consonant:Lang2Consonant) => ({
        params: { slug: consonant.slug }, props: { consonant },
    }));
}
const { consonant } = Astro.props;

const ariadne = [
    { name: "home", url: "/" },
    { name: "Il'suastet", url: "/il-suastet" },
    { name: "syllabary", url: "/il-suastet/syllabary" },
    { name: consonant.name }
]

import morae from "../morae/_morae.json"
const grid_morae:TypeGridGlyph[] = morae.filter((mora:Lang2Mora) => (mora.parent.consonant===consonant.slug)).map((o) => (Lang2Object_to_GridGlyph(o,"/il-suastet/syllabary/morae/")))
---

<Layout tab={consonant.name}>
    <main class="container max-w-xl px-8 mx-auto">

        <h1>{consonant.name}</h1>
        <div class="font-heading -mt-4 mb-2 text-3xl italic">consonant</div>
        <Ariadne links={ariadne}/>

        <div class="my-4">
            <div class="flex flex-row gap-8">
                <div>
                    <div class="glyph-container min-w-32 rounded-sm aspect-square h-full flex">
                        <div class="sub block m-auto">
                            <Glyph src={consonant.src.img} lang="lang2" />
                        </div>
                    </div>
                </div>
                <div>
                    <div>IPA</div>
                    <div class="text-4xl">[ {consonant.ipa} ]</div>
                    <div>romanization</div>
                    <div class="text-4xl">{consonant.roman}</div>
                </div>
            </div>
        </div>
        
        {grid_morae.length>0 && (
            <Section>related morae ({grid_morae.length})</Section>
            <GlyphGrid glyphs={grid_morae} lang="lang2" />
        )}

        <Section>related words</Section>
        <p class="text-omen">(section pending)</p>

    </main>
</Layout>

<style lang="scss">
    .glyph-container {
        background-color: color-mix(in srgb, var(--color-paper), var(--color-stone) 50%);
        .sub {
            width: 60%;
            height: 60%;
        }
    }
</style>