---
import Layout from "@/layouts/Layout.astro"
import Ariadne from "@/components/Ariadne.astro"
import Glyph from "@/components/Glyph.astro"
import type { Lang2Compound } from "@/types/Lang2"
import Section from "@/components/Section.astro"

import compounds from "./_compounds.json"
export async function getStaticPaths() {
    return compounds.map((cmp:Lang2Compound) => ({
        params: { slug: cmp.slug }, props: { cmp },
    }));
}
const { cmp } = Astro.props;

const ariadne = [
    { name: "home", url: "/" },
    { name: "Il'suastet", url: "/il-suastet" },
    { name: "syllabary", url: "/il-suastet/syllabary" },
    { name: cmp.name }
]

import consonant_families from "../consonant-families/_consonant_families.json"
const parent_consonant = consonant_families.find((cf) => (cf.slug===cmp.parent.consonant))
import vowel_families from "../vowel-families/_vowel_families.json"
import { undefined } from "astro:schema"
const parent_vowel = vowel_families.find((vf) => (vf.slug===cmp.parent.vowel))

const words = undefined
---

<Layout tab={cmp.name}>
    <main class="container max-w-xl px-8 mx-auto">

        <h1>{cmp.name}</h1>
        <div class="font-heading -mt-4 mb-2 text-3xl italic">compound</div>
        <Ariadne links={ariadne}/>

        <div class="my-4">
            <div class="flex flex-row justify-center gap-8 items-center">

                <div>
                    <div class="glyph-container min-w-32 rounded-sm aspect-square h-full flex">
                        <div class="sub block m-auto">
                            <Glyph src={cmp.src.img} lang="lang2" />
                        </div>
                    </div>
                </div>

                <div class="text-4xl">=</div>

                {parent_consonant && parent_vowel && (
                    <div class="grow flex flex-row gap-2 items-center">
                        <div class="glyph-container min-w-16 rounded-sm aspect-square h-full flex">
                            <div class="sub block m-auto">
                                <Glyph src={parent_consonant.src.img} lang="lang2" />
                            </div>
                        </div>
                        <div class="text-2xl">+</div>
                        <div class="glyph-container min-w-16 rounded-sm aspect-square h-full flex">
                            <div class="sub block m-auto">
                                <Glyph src={parent_vowel.src.img} lang="lang2" />
                            </div>
                        </div>
                    </div>
                )}

            </div>
        </div>

        <Section>words using this compound</Section>
        <p class="text-omen">(section pending)</p>

    </main>
</Layout>

<style lang="scss">
    .glyph-container {
        background-color: color-mix(in srgb, var(--color-paper), var(--color-stone) 50%);
        .sub {
            width: 60%;
            height: 60%;
        }
    }
</style>