---
import Layout from "@/layouts/Layout.astro"
import Ariadne from "@/components/Ariadne.astro"
import Glyph from "@/components/Glyph.astro"
import Section from "@/components/Section.astro"
import GlyphGrid from "@/components/GlyphGrid.astro"
import type { TypeGridGlyph } from "@/components/TypeGridGlyph"
import type { Lang2Vowel, Lang2Compound } from "@/types/Lang2"
import { Lang2Object_to_GridGlyph } from "@/types/Lang2"

import vowel_families from "./_vowel_families.json"
export async function getStaticPaths() {
    return vowel_families.map((vf:Lang2Vowel) => ({
        params: { slug: vf.slug }, props: { vf },
    }));
}
const { vf } = Astro.props;

const ariadne = [
    { name: "home", url: "/" },
    { name: "Il'suastet", url: "/il-suastet" },
    { name: "syllabary", url: "/il-suastet/syllabary" },
    { name: vf.name }
]

import compounds from "../compounds/_compounds.json"
const valid_compounds = compounds.filter((compound:Lang2Compound) => compound.parent.vowel===vf.slug)
const grid_compounds:TypeGridGlyph[] = valid_compounds.map((o) => (Lang2Object_to_GridGlyph(o,"/il-suastet/syllabary/compounds/")))
---

<Layout tab={vf.name}>
    <main class="container max-w-xl px-8 mx-auto">

        <h1>{vf.name}</h1>
        <div class="font-heading -mt-4 mb-2 text-3xl italic">vowel family</div>
        <Ariadne links={ariadne}/>

        <div class="my-4">
            <div class="flex flex-row gap-8">
                <div>
                    <div class="glyph-container min-w-32 rounded-sm aspect-square h-full flex">
                        <div class="sub block m-auto">
                            <Glyph src={vf.src.img} lang="lang2" />
                        </div>
                    </div>
                </div>
                <div>
                    <div>IPA consonant</div>
                    <div class="text-4xl">[ {vf.ipa} ]</div>
                    <div>romanization</div>
                    <div class="text-4xl">{vf.roman}</div>
                </div>
            </div>
        </div>
        
        {grid_compounds.length>0 && (
            <Section>child compounds</Section>
            <GlyphGrid glyphs={grid_compounds} lang="lang2" />
        )}

    </main>
</Layout>

<style lang="scss">
    .glyph-container {
        background-color: color-mix(in srgb, var(--color-paper), var(--color-stone) 50%);
        .sub {
            width: 60%;
            height: 60%;
        }
    }
</style>