---
import Layout from '@/layouts/Layout.astro'
import Ariadne from '@/components/Ariadne.astro'
import GlyphGrid from '@/components/GlyphGrid.astro'
import Section from '@/components/Section.astro'
import type { TypeGridGlyph } from '@/components/TypeGridGlyph'
import { Lang2Object_to_GridGlyph } from "@/types/Lang2"

const ariadne = [
    { name: "home", url: "/" },
    { name: "Il'suastet", url: "/il-suastet" },
    { name: "syllabary" }
]

import vowels from "./vowels/_vowels.json"
const grid_vowels:TypeGridGlyph[] = vowels.map((o) => (Lang2Object_to_GridGlyph(o,"/il-suastet/syllabary/vowels/")))

import consonants from "./consonants/_consonants.json"
const grid_consonants:TypeGridGlyph[] = consonants.map((o) => (Lang2Object_to_GridGlyph(o,"/il-suastet/syllabary/consonants/")))

import morae from "./morae/_morae.json"
const grid_morae:TypeGridGlyph[] = morae.map((o) => (Lang2Object_to_GridGlyph(o,"/il-suastet/syllabary/morae/")))
---

<Layout tab="syllabary < Il'suastet">
    <main class="container max-w-3xl px-8 mx-auto">

        <h1>syllabary</h1>
        <Ariadne links={ariadne}/>

        <!-- consonants -->
        <Section>consonants ({grid_consonants.length})</Section>
        <GlyphGrid glyphs={grid_consonants} lang="lang2" />

        <!-- vowels -->
        <Section>vowels ({grid_vowels.length})</Section>
        <GlyphGrid glyphs={grid_vowels} lang="lang2" />

        <!-- compounds -->
        <Section>morae ({grid_morae.length})</Section>
        <GlyphGrid glyphs={grid_morae} lang="lang2" />


    </main>
</Layout>