---
import Layout from '@/layouts/Layout.astro'
import Ariadne from '@/components/Ariadne.astro'
import GlyphGrid from '@/components/GlyphGrid.astro'
import Section from '@/components/Section.astro'

const ariadne = [
    { name: "home", url: "/" },
    { name: "Il'suastet", url: "/il-suastet" },
    { name: "syllabary" }
]

import vowels from "./vowels/_vowels.json"
import consonants from "./consonants/_consonants.json"
import morae from "./morae/_morae.json"
---

<Layout tab="numerals < Il'suastet">
    <main class="container max-w-3xl px-8 mx-auto">

        <h1>syllabary</h1>
        <Ariadne links={ariadne}/>

        <!-- consonants -->
        <Section>consonants ({consonants.length})</Section>
        <GlyphGrid
            items={consonants}
            lang="lang2"
            urlRoot="/il-suastet/syllabary/consonants/"
        />

        <!-- vowels -->
        <Section>vowels ({vowels.length})</Section>
        <GlyphGrid
            items={vowels}
            lang="lang2"
            urlRoot="/il-suastet/syllabary/vowels/"
        />

        <!-- compounds -->
        <Section>morae ({morae.length})</Section>
        <GlyphGrid
            items={morae}
            lang="lang2"
            urlRoot="/il-suastet/syllabary/morae/"
        />


    </main>
</Layout>