---
import Layout from "@/layouts/Layout.astro"
import Ariadne from "@/components/Ariadne.astro"
import Glyph from "@/components/Glyph.astro"
import type { Lang2Mora } from "@/types/Lang2"
import Section from "@/components/Section.astro"

import morae from "./_morae.json"
export async function getStaticPaths() {
    return morae.map((mora:Lang2Mora) => ({
        params: { slug: mora.slug }, props: { mora },
    }));
}
const { mora } = Astro.props;

const ariadne = [
    { name: "home", url: "/" },
    { name: "Il'suastet", url: "/il-suastet" },
    { name: "syllabary", url: "/il-suastet/syllabary" },
    { name: mora.name }
]

import consonants from "../consonants/_consonants.json"
const parent_consonant = consonants.find((consonant) => (consonant.slug===mora.parent.consonant))
import vowels from "../vowels/_vowels.json"
const parent_vowel = vowels.find((vowel) => (vowel.slug===mora.parent.vowel))

---

<Layout tab={mora.name}>
    <main class="container max-w-xl px-8 mx-auto">

        <h1>{mora.name}</h1>
        <div class="font-heading -mt-4 mb-2 text-3xl italic">mora</div>
        <Ariadne links={ariadne}/>

        <div class="my-4">
            <div class="flex flex-row justify-center gap-8 items-center">

                <div>
                    <div class="glyph-container min-w-32 rounded-sm aspect-square h-full flex">
                        <div class="sub block m-auto">
                            <Glyph src={mora.src.img} lang="lang2" />
                        </div>
                    </div>
                </div>

                <div class="text-4xl">=</div>

                {parent_consonant && parent_vowel && (
                    <div class="grow flex flex-row gap-2 items-center">
                        <div class="glyph-container min-w-16 rounded-sm aspect-square h-full flex">
                            <div class="sub block m-auto">
                                <Glyph src={parent_consonant.src.img} lang="lang2" />
                            </div>
                        </div>
                        <div class="text-2xl">+</div>
                        <div class="glyph-container min-w-16 rounded-sm aspect-square h-full flex">
                            <div class="sub block m-auto">
                                <Glyph src={parent_vowel.src.img} lang="lang2" />
                            </div>
                        </div>
                    </div>
                )}

            </div>
        </div>

        <Section>related morae</Section>
        <p class="text-omen">(section pending)</p>

    </main>
</Layout>

<style lang="scss">
    .glyph-container {
        background-color: color-mix(in srgb, var(--color-paper), var(--color-stone) 50%);
        .sub {
            width: 60%;
            height: 60%;
        }
    }
</style>