---
import Layout from "@/layouts/Layout.astro"
import Ariadne from "@/components/Ariadne.astro"
import GlyphBlock from "@/components/GlyphBlock.astro"
import type { Lang2Mora } from "@/types/Lang2"
import Section from "@/components/Section.astro"

import morae from "./_morae.json"
export async function getStaticPaths() {
    return morae.map((mora:Lang2Mora) => ({
        params: { slug: mora.slug }, props: { mora },
    }));
}
const { mora } = Astro.props;

const ariadne = [
    { name: "home", url: "/" },
    { name: "Il'suastet", url: "/il-suastet" },
    { name: "syllabary", url: "/il-suastet/syllabary" },
    { name: mora.name }
]

import consonants from "../consonants/_consonants.json"
const parent_consonant = consonants.find(consonant => consonant.slug===mora.parent.consonant)
import vowels from "../vowels/_vowels.json"
const parent_vowel = vowels.find(vowel => vowel.slug===mora.parent.vowel)
---

<Layout tab={mora.name}>
    <main class="container max-w-xl px-8 mx-auto">

        <h1>{mora.name}</h1>
        <div class="font-heading -mt-4 mb-2 text-3xl italic">mora</div>
        <Ariadne links={ariadne}/>

        <div class="my-4">
            <div class="flex flex-row justify-center gap-8 items-center">

                <div class="min-w-32">
                    <GlyphBlock
                        name={mora.name}
                        img={mora.img}
                        lang="lang2"
                    />
                </div>

                <div class="text-4xl">=</div>

                {parent_consonant && parent_vowel && (
                    <div class="grow flex flex-row gap-2 items-center">
                        <div class="min-w-16">
                            <div class="sub block m-auto">
                                <GlyphBlock
                                    name={parent_consonant.name}
                                    img={parent_consonant.img}
                                    lang="lang2"
                                    url={"/il-suastet/syllabary/consonants/"+parent_consonant.slug}
                                />
                            </div>
                        </div>
                        <div class="text-4xl">+</div>
                        <div class="min-w-16">
                                <GlyphBlock
                                    name={parent_vowel.name}
                                    img={parent_vowel.img}
                                    lang="lang2"
                                    url={"/il-suastet/syllabary/vowels/"+parent_vowel.slug}
                                />
                        </div>
                    </div>
                )}

            </div>
        </div>

        <Section>related words</Section>
        <p class="text-omen">(section pending)</p>

    </main>
</Layout>