---
import Glyph from '@/components/Glyph.astro'

export interface Props {
    glyph: {
        src: string
        lang: string
    }
    url?: string
}
const { glyph, url } = Astro.props as Props
---

<div class="glyph-block aspect-square rounded-sm">
    {url ? (
        <a href={url} class="block h-full w-full">
            <div class="grid h-full">
                <div class="sub m-auto">
                    <Glyph lang={glyph.lang} src={glyph.src} />
                </div>
            </div>
        </a>
    ):(
        <div class="grid h-full w-full">
            <div class="sub m-auto">
                <Glyph lang={glyph.lang} src={glyph.src} />
            </div>
        </div>
    )}
</div>

<style lang="scss">

    .glyph-block {
        color: var(--color-ink);
        background-color: color-mix(in srgb, var(--color-paper), var(--color-stone) 50%);
        &:has(a) {
            background-color: color-mix(in srgb, var(--color-paper), var(--color-gem) 20%);
            &:hover {
                background-color: var(--color-gem);
                color: var(--color-paper);
            }
        }
    }
    .sub {
        width: 60%;
        height: 60%;
    }

</style>