---
import Layout from '@/layouts/Layout.astro'
import Ariadne from '@/components/Ariadne.astro'
import GlyphBlock from '@/components/GlyphBlock.astro'

const ariadne = [
    { name: "home", url: "/" },
    { name: "Il'suastet", url: "/il-suastet" },
    { name: "numerals" }
]

import numerals from "./_numerals.json"
const numeralsSorted = numerals.sort((a,b) => a.number - b.number)
---

<Layout tab="syllabary < Il'suastet">
    <main class="container max-w-3xl px-8 mx-auto">

        <h1>numerals</h1>
        <Ariadne links={ariadne}/>

        <p class="my-4">
            The Il'suastet number system is duodecimal (also called dozenal, or base-12).
        </p>

        <table class="border-separate -ml-6 border-spacing-x-6 border-spacing-y-4 text-left">
            <thead>
                <tr>
                    <th>glyph</th>
                    <th>number</th>
                    <th>name</th>
                    <th>IPA</th>
                </tr>
            </thead>
            <tbody>
                {numeralsSorted.map(numeral => (
                    <tr>
                        <td>
                            <div class="w-16">
                                <GlyphBlock
                                    name={numeral.name}
                                    img={numeral.img}
                                    lang="lang2"
                                />
                            </div>
                        </td>
                        <td class="text-3xl">{numeral.number}</td>
                        <td>{numeral.name}</td>
                        <td>[ {numeral.ipa} ]</td>
                    </tr>
                ))}
            </tbody>
        </table>

    </main>
</Layout>