---
import Layout from "@/layouts/Layout.astro"
import Ariadne from "@/components/Ariadne.astro"
import GlyphBlock from "@/components/GlyphBlock.astro"
import Section from "@/components/Section.astro"
import GlyphGrid from "@/components/GlyphGrid.astro"
import type { Lang2Vowel, Lang2Mora } from "@/types/Lang2"

import vowels from "./_vowels.json"
export async function getStaticPaths() {
    return vowels.map((vowel:Lang2Vowel) => ({
        params: { slug: vowel.slug }, props: { vowel },
    }));
}
const { vowel } = Astro.props;

const ariadne = [
    { name: "home", url: "/" },
    { name: "Il'suastet", url: "/il-suastet" },
    { name: "syllabary", url: "/il-suastet/syllabary" },
    { name: vowel.name }
]

import morae from "../morae/_morae.json"
const moraeFiltered = morae.filter((mora:Lang2Mora) => (mora.parent.vowel===vowel.slug))
---

<Layout tab={vowel.name}>
    <main class="container max-w-xl px-8 mx-auto">

        <h1>{vowel.name}</h1>
        <div class="font-heading -mt-4 mb-2 text-3xl italic">vowel</div>
        <Ariadne links={ariadne}/>

        <div class="my-4">
            <div class="flex flex-row gap-8 items-center">
                <div class="min-w-32">
                    <GlyphBlock
                        name={vowel.name}
                        img={vowel.img}
                        lang="lang2"
                    />
                </div>
                <div>
                    <div>IPA</div>
                    <div class="text-4xl">[ {vowel.ipa} ]</div>
                    <div>romanization</div>
                    <div class="text-4xl">{vowel.roman}</div>
                </div>
            </div>
        </div>
        
        {moraeFiltered.length>0 && (
            <Section>related morae ({moraeFiltered.length})</Section>
            <GlyphGrid
                items={moraeFiltered}
                lang="lang2"
                urlRoot="/il-suastet/syllabary/morae/"
            />
        )}

        <Section>related words</Section>
        <p class="text-omen">(section pending)</p>

    </main>
</Layout>